* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #111111;
    --white: #F7F7F7;
    --orange: #FEA301;
    --skyblue: #01ACFD;
    --primarybg: #FFFFFF;
}

html {
    font-size: 16px;
}

body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: var(--white);
}

/* HEADER */
.header-container {
    width: 100%;
    margin: 0 auto;
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
    background-color: var(--primarybg);
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--black);
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding: 36px 0;
}

.navbar-list li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar-list a {
    text-decoration: none;
}

#home-nav a {
    color: var(--orange);
}

#about-nav a {
    color: var(--skyblue);
}

#fa-nav a {
    color: #05D4DF;
}

#adms-nav a {
    color: #5D58EF;
}

.btn {
    width: 197px;
    height: 50px;
    background-color: var(--orange);
    color: var(--primarybg);
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
}
